.my_container {
    background-color: yellow; /* or hexidecimal #FFFF00 */
}
#my_container {
    background-color: blue; /* or hexidecimal #FFFF00 */
}

input{
        background-repeat:repeat-x;
        border: 0px solid;
        height:25px;
        width:125px;
    }
    #firstname{
        background-color:red;
    }
    #lastname{
         background-color:blue;
    }
    
    #content #main_text .title
    {
        color:red;
    }